:root{
    --cor-primaria: #E4D68D;
    --cor-secundaria: #99582A;
    --cor-tercearia: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--cor-secundaria);
    padding-inline: 1rem;
}

body {
    background-color: var(--cor-primaria);
}

li{
    list-style: none;
}

a{
    color: var(--cor-tercearia);
    text-decoration: none;
}

.navbar{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    min-height: 5.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.125rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'playfair' serif;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 3.75rem;
    list-style: none;
    font-family: 'playfair' serif;
}

.nav-link{
    transition: 0.5s ease;
    padding-block: 1rem;
}

.nav-link:hover{
    color: var(--cor-primaria);
}

.menu-mobile{
    border: none;
    background: none;
    border-top: 3px solid var(--cor-primaria);
    cursor: pointer;
    display: none;
}

.menu-mobile::before,
.menu-mobile::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--cor-primaria);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.bar{
    display: block;
    width: 1.75rem;
    height: 0.188rem;
    border-radius: 0.125rem;
    margin: 5px auto;
    background-color: var(--cor-primaria);
    transition: all 0.3s ease-in-out;
}

.bem_vindo {
    padding: 4% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

@media (max-width: 768px){

    .bem_vindo{
        flex-direction: column-reverse;
        padding: 5%;
        align-items: safe;
    }

    .menu-mobile{
        display: block;
        z-index: 1;
    }

    .navbar.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .navbar.active .nav-link{
        opacity: 1;
    }

    .nav-list{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        pointer-events: none;
        background-color: var(--cor-secundaria);
    }

    .nav-link{
        font-size: 1.5rem;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }

    .nav-list li:nth-child(5) a{
        transition: 0.5s 0.10s;
    }

    .nav-item{
        margin: 1rem 0;
    }

    .navbar.active .menu-mobile{
        position: fixed;
        top: 1.5rem;
        right: 1rem;
        border-top-color: transparent;

    }

    .navbar.active .menu-mobile::before{
        transform: rotate(50deg);
    }
    
    .navbar.active .menu-mobile::after{
        transform: rotate(-50deg);
        top: -7px;
    }
}