:root{
    --cor-primaria: #E4D68D;
    --cor-secundaria: #99582A;
    --cor-tercearia: #ffffff;
    --sombreado: #464646;
}

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Borel&family=Playfair+Display&family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Belleza", sans-serif;
}

  
.nav-list a {
    color: var(--cor-tercearia);
    text-decoration: none;
    transition: 0.3s;
}
  
.nav-list a:hover {
    opacity: 0.7;
}
  
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--cor-tercearia);
}

.logo-footer {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--cor-tercearia);
  text-decoration: none;
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor-secundaria);
    height: 8vh;
}
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-tercearia);
    margin: 8px;
    transition: 0.3s;
}

body{
    background: var(--cor-primaria);
}

.principal_texto {
  padding: 4% 13%;
  display: flex;
  align-items: center;
  margin-top: 20%;
}

.bem_vindo_conteiner {
    padding: 4% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.footer{
	  background-color: var(--cor-secundaria);
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--cor-secundaria);
    height: 2vh;
}

.animals-footer {
  max-width: 75rem;
  max-height: 40rem;
}

@media (max-width: 768px){
    .animals-footer{
      max-width: 25rem;
      max-height: 20rem;
    }

    .bem_vindo_conteiner{
        flex-direction: column-reverse;
        padding: 5%;
        align-items: safe;
    }

    .principal_texto{
      padding: 5%;
      align-items: safe;
    }

    .nav-list {
        display: none;
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    }
    
    .nav-list.active {
      display: flex;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--cor-secundaria);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: transform 0.3s ease-in;
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
