:root{
    --cor-primaria: #E4D68D;
    --cor-secundaria: #99582A;
    --cor-tercearia: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--cor-secundaria);
}

body {
    background-color: var(--cor-primaria);
}

li{
    list-style: none;
}

a{
    color: var(--cor-tercearia);
    text-decoration: none;
}

.navbar{
    min-height: 5.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.125rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 3.75rem;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: var(--cor-primaria);
}

.menu-mobile{
    display: none;
}

.bem_vindo {
    padding: 4% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

@media (max-width: 900px){
    .bem_vindo{
        flex-direction: column-reverse;
        padding: 5%;
    }
}